body{
    //background: rgb(58, 58, 58);
    margin: 0;
    background-color:#E5E5E5;
}
html{
    font-size: 80.5%;  
    scroll-behavior: smooth;

}
.top-banner{
    position: absolute;
    width: 1440px;
    height: 220px;
    left: 0px;
    top: 16px;
    background: #FF8552;
}

//NAVIGATION SIDE MENU --------------------------------------------------------
//hamburger-menu
.hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2rem;
    width: 2.3rem;
    cursor: pointer;
    left: 96%;
    top: 29px; 
    position:absolute;
    z-index:1000;
    .top {
        transform: rotate(0deg);
        }
      
      .middle {
        opacity: 100%;
        }
      
      .bottom {
        transform: rotate(0deg);
        }
  .bar {
    height: 4px;
    background: black;
    border-radius: 5px;
    margin: 2px 0px;
    transform-origin: left;
    transition: all 0.5s;
  }
}


// **Side menu**
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #C3D6CA;
    //overflow-x:auto; /* Disable horizontal scroll */
    padding-top: 5%; /* Place content 60px from the top */
    transition:  0.5s; /* 0.5 second transition effect to slide in the sidenav */


    .sidenav-content{
        height: 85%;   
        display:none;
        flex-direction: column;
        //justify-content: space-around;
        //align-items: center;
        gap: 9px;
        .sidenav-item {
            display: flex;
            font-family: Roboto;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1rem;
            color: #000000;
            transition:  0.3s;
            writing-mode: vertical-rl;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-basis: 0;
            flex-grow: 1;
            &:hover{
                background-color: #FF5875;
            }
        }
    }
}

//**Subpages styles**
.subpages{
    a{
    font-family: Roboto;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 60px;
    border-bottom:3px solid #000000;
    width: 70%;
    }
}


.project-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.project-item:hover{
    .project-subpages{
    display: flex;
    }
}
.labs-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    //margin-left: auto;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.lab-item:hover{
    .labs-subpages{
    display: flex;
    }
}
.software-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    //margin-left: auto;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.software-item:hover{
    .software-subpages{
    display: flex;
    }
}
.hardware-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    //margin-left: auto;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.hardware-item:hover{
    .hardware-subpages{
    display: flex;
    }
}
.hp-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    //margin-left: auto;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.hp-item:hover{
    .hp-subpages{
    display: flex;
    }
}
.team-subpages{
    display: none;
    justify-content: space-around;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 85%;
    top: 0px;
    //margin-left: auto;
    right: 77px;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.team-item:hover{
    .team-subpages{
    display: flex;
    }
}







//------------------------------------------------------------------------------

.Subtitle{
    position: absolute;
    width: 214px;
    height: 48px;
    left: 2rem;
    top: 22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-subtitle{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .line{
        width: 2px;
        height: 26px;
        background: #000000;
    }
    .subtopic{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
    }

}
.index{
    position: absolute;
    left: 2rem;
    top: 29rem;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;

}
.subsite-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Roboto;
    font-weight: bold;   
    font-size:1rem;
    width: 280px;
    height: 188.14px;
    left: 2rem;
    top: 32rem;
    background: #F8F8F8;
    border-radius: 15px;

    a{
        text-decoration: none; 
        text-transform: uppercase;
        color: black;
        width: 80%;
        border-bottom: 0.5px solid #DCDCDC;
        text-align: center;

    }

}  

.submenu-title{
    position: absolute;
    width: 150px;
    left: 1110px;
    top: 29rem;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #000000;
}
.submenu-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 296.3px;
    height: 262px;
    left: 1105.7px;
    top: 32rem;
    background: #F8F8F8;
    border-radius: 15px;
    a{
        text-decoration: none; 
        color: black;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: bold;
        width: 80%;
        border-bottom: 0.5px solid #DCDCDC;
        text-align: center;
        text-transform: uppercase;
    }
}

.Title{
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 22rem;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 48px;
    /* identical to box height, or 100% */
    display: flex;
    justify-content: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.text-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 743px;
    height:auto;
    padding-bottom: 30px;
    padding-top: 10px;
    left: 340px;
    top: 359px;
    background: #F9F9F9;
    border-radius: 38px;
    box-shadow: 0px 11px 15px 1px rgba(0,0,0,0.65);
    align-items: flex-start;
    overflow: hidden;
    h2{
        align-self: flex-start!important;
        font-family: Roboto;
        font-weight: bold;
        font-size: 1.5rem;
        height:4rem;
        width: 60%;
        letter-spacing: 0.01em;
        text-decoration: none!important;
        color: #000000;
        margin-left: 40px;
        margin-top: 35px;
        margin-bottom: 35px;
        border-bottom: 2.5px solid #000000;
        
    }
    .text{
        font-family: Roboto;
        font-weight: normal;
        font-size: 1.2rem;
        //line-height: 18px;
        letter-spacing: 0.01em;
        color: #000000;
        //width: 100%;
        text-align: justify;
        margin-right: 40px;
        margin-left: 40px;
        //margin-left: 40px;
    }
}

.footer-enzyme1{
    position: absolute;
    width:500px;
    left: 419.4px;
    top: 1500px;
    transform: rotate(54.88deg);
    opacity: 0.45;
}
.footer-enzyme2{
    position: absolute;
    width: 500px;
    left: 890px;
    top: 1500px;
    transform: rotate(90deg);
    opacity: 0.45;
}
.footer-enzyme3{
    position: absolute;
    width: 500px;
    left: 50px;
    top: 1500px;    
    transform: rotate(-150deg);
    opacity: 0.45;
}


footer{
    position: absolute;
    height: 300px;
    width:1440px;
    bottom: 0;
    top: 1804px;
    background: #1E2833;
}
.fixed{
    position: fixed;
    top: 50px;
}
.fixed-title{
    position: fixed;
    top: 10px;
}