@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  font-size: 80.5%;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  width: 2.3rem;
  cursor: pointer;
  left: 96.1%;
  top: 3%;
  position: absolute;
  z-index: 1000;
}

.hamburger-menu .top {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.hamburger-menu .middle {
  opacity: 100%;
}

.hamburger-menu .bottom {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.hamburger-menu .bar {
  height: 4px;
  background: black;
  border-radius: 5px;
  margin: 2px 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #C3D6CA;
  padding-top: 5%;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .sidenav-content {
  height: 85%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.sidenav .sidenav-content .sidenav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidenav .sidenav-content .sidenav-item:hover {
  background-color: #FF5875;
}

.subpages a {
  font-family: Roboto;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 60px;
  border-bottom: 3px solid #000000;
  width: 70%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.subpages a:before {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 60px;
  margin-top: 19px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /*   will-change: transform; */
}

.subpages a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.subpages a:hover {
  color: #ffffff;
}

.project-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0px;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 5s;
  transition: 5s;
}

.project-item:hover .project-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labs-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.lab-item:hover .labs-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.software-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.software-item:hover .software-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hardware-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.hardware-item:hover .hardware-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.hp-item:hover .hp-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-subpages {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 100%;
  top: 0;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.team-item:hover .team-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  position: relative;
  background: #E4E4E4;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 700%;
  height: 100vh;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Video-slide {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Video-slide .title {
  position: absolute;
  left: 27%;
  top: -6%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 6.2vw;
  line-height: 169px;
  letter-spacing: 0.1em;
}

.Video-slide .title-box {
  position: absolute;
  width: 45vw;
  height: 11vh;
  left: 27%;
  top: 9%;
  background: #FFFFFF;
}

.Video-slide .video {
  position: absolute;
  width: 90vw;
  height: 60vh;
  left: 5%;
  top: 22%;
  background: #C4C4C4;
}

.Video-slide .join-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 24vh;
  height: 11vh;
  left: 42%;
  top: 85%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 39px;
  cursor: pointer;
}

.Project {
  width: 100%;
}

.Project .title {
  position: absolute;
  left: 1%;
  top: 72%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 9vw;
  letter-spacing: 0.1em;
}

.Project .title-box {
  position: absolute;
  width: 35.7vw;
  height: 10vh;
  left: 1.5%;
  top: 90%;
  background: #F56529;
}

.Project .description {
  position: absolute;
  left: 40%;
  top: -2%;
  font-family: Baskervville;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  text-align: center;
  line-height: 29px;
}

.Project .project-img {
  position: absolute;
  width: 62vw;
  height: 23vh;
  left: 28%;
  top: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.5);
}

.description {
  position: absolute;
  left: 33%;
  top: -2%;
  font-family: Baskervville;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  text-align: center;
  line-height: 29px;
}

.title {
  position: absolute;
  left: 11%;
  top: 72%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 9vw;
  line-height: 180px;
  z-index: 1;
  letter-spacing: 0.1em;
  color: #000000;
}

.title-box {
  position: absolute;
  left: 11%;
  top: 90%;
  z-index: 0;
  width: 56vw;
  height: 15vh;
}

.text {
  position: absolute;
  width: 83vw;
  left: 9%;
  top: 48%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.Software {
  width: 100%;
}

.Software .slide {
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Software .title-box {
  background: #F8D900;
  width: 47.5vw;
}

.Wetware {
  width: 100%;
}

.Wetware .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Wetware .title-box {
  background: #00F9FF;
  width: 46vw;
  left: 12%;
}

.Hardware {
  width: 100%;
}

.Hardware .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Hardware .title-box {
  background: #232D95;
  width: 49.5vw;
  left: 11.5%;
}

.Human-Practices {
  width: 100%;
}

.Human-Practices .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Human-Practices .title-box {
  position: absolute;
  left: 11.5%;
  top: 90%;
  z-index: 0;
  width: 37vw;
  height: 15vh;
  background: #C4C4C4;
}

.Human-Practices .title {
  position: absolute;
  left: 11%;
  top: 66%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 7vw;
  line-height: 1;
  z-index: 1;
  letter-spacing: 0.1em;
  color: #000000;
  width: 6vw;
}

.Human-Practices .text {
  top: 45%;
}

.About-us {
  width: 100%;
}

.About-us .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.About-us .title {
  position: absolute;
  left: 11%;
  top: 76%;
  font-size: 18vh;
  font-family: Poppins;
}

.About-us .description {
  position: absolute;
  width: 37vw;
  left: 3%;
  top: 32%;
}

.About-us .map-img {
  position: absolute;
  width: 52vw;
  height: 61vh;
  left: 23%;
  top: 13%;
}

.freddie {
  width: 8vw;
  top: 0%;
  position: absolute;
}

.nav-btn {
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  cursor: pointer;
}

.nav-btn:hover {
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-btn:hover::after {
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-btn::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: black;
  -webkit-transform: rotate(-45deg) translate(15px, 4px);
          transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
  cursor: pointer;
}

.next {
  z-index: 10;
  left: 94%;
  top: 90%;
  font-weight: 700;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  display: none;
}

.prev {
  top: 90%;
  right: 94%;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}

.navigation-circles {
  position: absolute;
  display: none;
  width: 275px;
  left: 52%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 90%;
  z-index: 100000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navigation-circles div {
  cursor: pointer;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 70px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.floating-enzyme {
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.floating-enzyme:nth-child(1) {
  left: 25%;
  -webkit-animation: raise1 20s linear infinite;
          animation: raise1 20s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(-0.3) rotate(343deg);
          transform: scale(-0.3) rotate(343deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(27deg);
            transform: scale(-0.3) rotate(27deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(27deg);
            transform: scale(-0.3) rotate(27deg);
  }
}

.floating-enzyme:nth-child(2) {
  left: -6%;
  -webkit-animation: raise2 18s linear infinite;
          animation: raise2 18s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0) rotate(3deg);
          transform: scale(0) rotate(3deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(199deg);
            transform: scale(0) rotate(199deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(199deg);
            transform: scale(0) rotate(199deg);
  }
}

.floating-enzyme:nth-child(3) {
  left: 16%;
  -webkit-animation: raise3 7s linear infinite;
          animation: raise3 7s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.3) rotate(28deg);
          transform: scale(0.3) rotate(28deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(77deg);
            transform: scale(0.3) rotate(77deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(77deg);
            transform: scale(0.3) rotate(77deg);
  }
}

.floating-enzyme:nth-child(4) {
  left: 38%;
  -webkit-animation: raise4 15s linear infinite;
          animation: raise4 15s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.6) rotate(180deg);
          transform: scale(0.6) rotate(180deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(196deg);
            transform: scale(0.6) rotate(196deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(196deg);
            transform: scale(0.6) rotate(196deg);
  }
}

.floating-enzyme:nth-child(5) {
  left: 94%;
  -webkit-animation: raise5 15s linear infinite;
          animation: raise5 15s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.9) rotate(191deg);
          transform: scale(0.9) rotate(191deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(132deg);
            transform: scale(0.9) rotate(132deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(132deg);
            transform: scale(0.9) rotate(132deg);
  }
}

.floating-enzyme:nth-child(6) {
  left: 87%;
  -webkit-animation: raise6 10s linear infinite;
          animation: raise6 10s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(1.2) rotate(255deg);
          transform: scale(1.2) rotate(255deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(89deg);
            transform: scale(1.2) rotate(89deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(89deg);
            transform: scale(1.2) rotate(89deg);
  }
}

.floating-enzyme:nth-child(7) {
  left: 58%;
  -webkit-animation: raise7 10s linear infinite;
          animation: raise7 10s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.5) rotate(299deg);
          transform: scale(1.5) rotate(299deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(268deg);
            transform: scale(1.5) rotate(268deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(268deg);
            transform: scale(1.5) rotate(268deg);
  }
}

.floating-enzyme:nth-child(8) {
  left: 38%;
  -webkit-animation: raise8 14s linear infinite;
          animation: raise8 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.8) rotate(221deg);
          transform: scale(1.8) rotate(221deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(110deg);
            transform: scale(1.8) rotate(110deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(110deg);
            transform: scale(1.8) rotate(110deg);
  }
}

.floating-enzyme:nth-child(9) {
  left: 58%;
  -webkit-animation: raise9 20s linear infinite;
          animation: raise9 20s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(2.1) rotate(130deg);
          transform: scale(2.1) rotate(130deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(198deg);
            transform: scale(2.1) rotate(198deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(198deg);
            transform: scale(2.1) rotate(198deg);
  }
}

.floating-enzyme:nth-child(10) {
  left: 56%;
  -webkit-animation: raise10 21s linear infinite;
          animation: raise10 21s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(2.4) rotate(48deg);
          transform: scale(2.4) rotate(48deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(89deg);
            transform: scale(2.4) rotate(89deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(89deg);
            transform: scale(2.4) rotate(89deg);
  }
}

.floating-enzyme:nth-child(11) {
  left: 100%;
  -webkit-animation: raise11 18s linear infinite;
          animation: raise11 18s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(2.7) rotate(56deg);
          transform: scale(2.7) rotate(56deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise11 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.7) rotate(201deg);
            transform: scale(2.7) rotate(201deg);
  }
}

@keyframes raise11 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.7) rotate(201deg);
            transform: scale(2.7) rotate(201deg);
  }
}
/*# sourceMappingURL=page.css.map */