@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    //background: rgb(58, 58, 58);
    margin: 0;
    background-color:white;
    transition:0.5s;
}
html{
    font-size: 80.5%;  
}

// **navigation bar**

//hamburger-menu
.hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2rem;
    width: 2.3rem;
    cursor: pointer;
    left: 96.1%;
    top: 3%; 
    position:absolute;
    z-index:1000;
    .top {
        transform: rotate(0deg);
        }
      
      .middle {
        opacity: 100%;
        }
      
      .bottom {
        transform: rotate(0deg);
        }
  .bar {
    height: 4px;
    background: black;
    border-radius: 5px;
    margin: 2px 0px;
    transform-origin: left;
    transition: all 0.5s;
  }
}
  

// **Side menu**
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #C3D6CA;
    padding-top: 5%; /* Place content 60px from the top */
    transition:  0.5s; /* 0.5 second transition effect to slide in the sidenav */


    .sidenav-content{
        height: 85%;   
        display:none;
        flex-direction: column;
        gap:11px;
        .sidenav-item {
            display: flex;
            font-family: Roboto;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2em;
            color: #000000;
            transition:  0.3s;
            writing-mode: vertical-rl;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-basis: 0;
            flex-grow: 1;
            &:hover{
                background-color: #FF5875;

            }
        }
    }
}

//**Subpages styles**
.subpages{
    a{
    font-family: Roboto;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 60px;
    border-bottom:3px solid #000000;
    width: 70%;
    transition: all 0.25s linear;
    }
    a:before {
        content: "";
        display: block;
        width: 70%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 60px;
        margin-top: 19px;
        transform-origin: left; 
        transform: scale(0);
        transition: 0.25s linear;
      /*   will-change: transform; */
      }
      a:hover:before {
        transform: scale(1);
      }
      a:hover{
        color: #ffffff;
      }
}


.project-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0px;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 5s;
  }

.project-item:hover{
    .project-subpages{
    display: flex;

    }
}
.labs-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.lab-item:hover{
    .labs-subpages{
    display: flex;
    }
}
.software-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.software-item:hover{
    .software-subpages{
    display: flex;
    }
}
.hardware-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.hardware-item:hover{
    .hardware-subpages{
    display: flex;
    }
}
.hp-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.hp-item:hover{
    .hp-subpages{
    display: flex;
    }
}
.team-subpages{
    display: none;
    justify-content: space-evenly;
    writing-mode: horizontal-tb;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background:#FF5875;
    width: 30rem;
    height: 100%;
    top: 0;
    right: 100%;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }

.team-item:hover{
    .team-subpages{
    display: flex;
    }
}



// **Main Container**
.container{
    position: relative;
    background: #E4E4E4;
    overflow: hidden;
}
.slider{
    display: flex;
    flex-wrap: nowrap;
    width:700%;
    height: 100vh;
    transition: all .25s ease-in;
    transform: translateX(0);
    overflow: hidden;
}
.slide{
    height: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
}

//**Slide Content**

//VIDEO-SLIDE AND PROJECT WILL HAVE DIFFERENT ELEMENTS POSITIONS
    .Video-slide{
        height: 100%;
        width: 100%;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 0;
        overflow: hidden;
        .title{
            position: absolute;
            left: 27%;
            top: -6%;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 6.2vw;
            line-height: 169px;
            letter-spacing: 0.1em;

            }
            .title-box{
                position: absolute;
                width: 45vw;
                height: 11vh;
                left: 27%;
                top: 9%;
                background: #FFFFFF;
            }
            .video{
                position: absolute;
                width: 90vw;
                height: 60vh;
                left: 5%;
                top: 22%;
                background: #C4C4C4;
            }
            .join-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 24vh;
                height: 11vh;
                left: 42%;
                top: 85%;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 2rem;
                line-height: 39px;
                cursor: pointer;
            }
    }

    .Project{
        width: 100%;
        .title{
            position: absolute;
            left: 1%;
            top: 72%;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 9vw;
            letter-spacing: 0.1em;
        }
        .title-box{
            position: absolute;
            width: 35.7vw;
            height: 10vh;
            left: 1.5%;
            top: 90%;
            background: #F56529;
        }
        .description{
            position: absolute;
            left:40%;
            top: -2%;
            font-family: Baskervville;
            font-style: normal;
            font-weight: normal;
            font-size: 3vw;
            text-align: center;
            line-height: 29px;
        }
        .project-img{
            position: absolute;
            width: 62vw;
            height: 23vh;
            left: 28%;
            top: 10%;
            object-fit: cover;
            box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.5);
        }

    }

    //THE REST WILL HAVE THE ELEMENTS IN THE SAME POSITION

.description{
    position: absolute;
    left: 33%;
    top: -2%;
    font-family: Baskervville;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    text-align: center;
    line-height: 29px;
    }

.title{
    position: absolute;
    left: 11%;
    top: 72%;
    font-family: Poppins;
    font-style: normal;
    font-weight:bolder;
    font-size: 9vw;
    line-height:180px;
    z-index: 1;
    letter-spacing: 0.1em;
    color: #000000;
}
.title-box{
    position: absolute;
    left: 11%;
    top: 90%;
    z-index: 0;
    width: 56vw;
    height: 15vh;
    
}
.text{
    position: absolute;
    width: 83vw;
    left: 9%;
    top: 48%;  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 34px;
    text-align: center; 
    color: rgba(0, 0, 0, 0.8);
}

.Software{
    width: 100%;
    .slide{
        left: 0px;
        top: 0px;
        z-index: 0;
        overflow: hidden;    
    }
    .title-box{
        background: #F8D900;
        width: 47.5vw;
    } 
} 


.Wetware{
    width: 100%;
    .slide{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
    }
    .title-box{
        background: #00F9FF;
        width: 46vw;
        left: 12%;
    }   
}

.Hardware{
    width: 100%;
    .slide{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
    }
    .title-box{
        background: #232D95;
        width: 49.5vw;
        left: 11.5%;
    } 
}

.Human-Practices{
    width: 100%;
    .slide{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
    }
     .title-box{
        position: absolute;
        left: 11.5%;
        top: 90%;
        z-index: 0;
        width: 37vw;
        height: 15vh;
        background: #C4C4C4;
    }
     .title{
        position: absolute;
        left: 11%;
        top: 66%;
        font-family: Poppins;
        font-style: normal;
        font-weight:bolder;
        font-size: 7vw;
        line-height:1;
        z-index: 1;
        letter-spacing: 0.1em;
        color: #000000;
        width: 6vw;
    }  
    .text{
        top: 45%;
    }
}
.About-us{
    width: 100%;
    .slide{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
    }
    .title{
        position: absolute;
        left: 11%;
        top: 76%;
        font-size: 18vh;
        font-family: Poppins;

    }
    .description{
        position: absolute;
        width: 37vw;
        left: 3%;
        top: 32%;
    }
    .map-img{
        position: absolute;
        width: 52vw;
        height:61vh;
        left: 23%;
        top: 13%;
    }
}

.freddie{
    width: 8vw;
    top: 0%;
    position: absolute;
}

//NAVIGATION BUTTONS
    .nav-btn{
            width: 25px;
            height: 25px;
            border-top: 2px solid #000;
            border-left: 2px solid #000;
            cursor:pointer;
            &:hover{
                border-top: 2px solid #FFFFFF;;
                border-left: 2px solid #FFFFFF;;
                transition: 0.5s;
            }
            &:hover::after{
                background-color: #FFFFFF;
                transition: 0.5s;
            }
          }
    .nav-btn::after{
        content: "";
        display: block;
        width: 2px;
        height: 45px;
        background-color: black;
        transform: rotate(-45deg) translate(15px, 4px);
        left: 0;
        top: 0;
        cursor:pointer;
    }
    .next{
            z-index: 10;
            left:94%;
            top: 90%;
            font-weight: 700;
            position: absolute;
            transform: rotate(135deg);
            display: none;
            
        }
    .prev{
            top: 90%;
            right: 94%;
            position: absolute;
            font-size: 25px;
            z-index: 10;
            transform: rotate(-45deg);
            display: none;
        }


//NAVIGATION CIRCLES
.navigation-circles{
    position: absolute;
    display:none;
    width: 275px;
    left: 52%;
    transform: translateX(-50%);
    top: 90%;
    z-index: 100000;
    justify-content: space-around;
    transition: all 0.2s ease-out;

    div{
        cursor: pointer;
        width: 4.5vh;
        height: 4.5vh;
        border-radius: 70px; 
        background: rgba(255, 255, 255, 0.70);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.3s ease-in;
    }
}

.floating-enzyme{
	position:absolute;
	bottom: -100vh;
	transform-style: preserve-3d;
}

$total: 11;
@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.floating-enzyme:nth-child(#{$i}){
		left:random(120) * 1% - 20;
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		filter: blur(4px);

	  @keyframes raise#{$i} {
		  to{
			 bottom:150vh;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}
