body {
  margin: 0;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  font-size: 80.5%;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  width: 2.3rem;
  cursor: pointer;
  left: 96.1%;
  top: 3%;
  position: absolute;
  z-index: 1000;
}

.hamburger-menu .top {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.hamburger-menu .middle {
  opacity: 100%;
}

.hamburger-menu .bottom {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.hamburger-menu .bar {
  height: 4px;
  background: black;
  border-radius: 5px;
  margin: 2px 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #C3D6CA;
  padding-top: 5%;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .sidenav-content {
  height: 85%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.sidenav .sidenav-content .sidenav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2vh;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidenav .sidenav-content .sidenav-item:hover {
  background-color: #FF5875;
}

.subpages a {
  font-family: Roboto;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 60px;
  border-bottom: 3px solid #000000;
  width: 70%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.subpages a:before {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 60px;
  margin-top: 19px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /*   will-change: transform; */
}

.subpages a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.subpages a:hover {
  color: #ffffff;
}

.project-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 100%;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.project-item:hover .project-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labs-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 77px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.lab-item:hover .labs-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.software-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 77px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.software-item:hover .software-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hardware-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 77px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.hardware-item:hover .hardware-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 77px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.hp-item:hover .hp-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-subpages {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9999;
  background: #FF5875;
  width: 30rem;
  height: 85%;
  top: 0px;
  right: 77px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.team-item:hover .team-subpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  position: relative;
  background: #E4E4E4;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700%;
  height: 100vh;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Video-slide {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Video-slide .title {
  position: absolute;
  /*             width: 1000px;
            height: 169px; */
  left: 27%;
  top: -6%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 6.65vw;
  line-height: 169px;
  letter-spacing: 0.1em;
}

.Video-slide .title-box {
  position: absolute;
  width: 45vw;
  height: 11vh;
  left: 27%;
  top: 9%;
  background: #FFFFFF;
}

.Video-slide .video {
  position: absolute;
  width: 90vw;
  height: 60vh;
  left: 5%;
  top: 22%;
  background: #C4C4C4;
}

.Video-slide .join-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 24vh;
  height: 11vh;
  left: 42%;
  top: 85%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 39px;
  cursor: pointer;
}

.Project .title {
  position: absolute;
  /*             width: 706px;
            height: 169px; */
  left: 1%;
  top: 74%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20vh;
  line-height: 169px;
  letter-spacing: 0.1em;
}

.Project .title-box {
  position: absolute;
  width: 37vw;
  height: 10vh;
  left: 1%;
  top: 90%;
  background: #F56529;
}

.Project .description {
  position: absolute;
  width: 62vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 28%;
  top: 35%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 35px;
  text-align: justify;
}

.Project .project-img {
  position: absolute;
  width: 62vw;
  height: 23vh;
  left: 28%;
  top: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.5);
}

.description {
  position: absolute;
  width: 68vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 28%;
  top: 33%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3.4vh;
  line-height: 35px;
  color: #000000;
  text-align: justify;
}

.title {
  position: absolute;
  left: 28%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 23vh;
  line-height: 180px;
  z-index: 1;
  letter-spacing: 0.1em;
  color: #000000;
}

.title-box {
  position: absolute;
  left: 28%;
  top: 15%;
  z-index: 0;
  width: 53vw;
  height: 15vh;
}

.Software {
  /*      .title{
        width: 701px;
        height: 169px;
    } */
}

.Software .slide {
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Software .title-box {
  /*          width: 697px;
        height: 120px; */
  background: #F8D900;
}

.Wetware {
  /*     .title{
        width: 667px;
        height: 169px;
        left: 535px; 
    } */
}

.Wetware .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Wetware .title-box {
  background: #00F9FF;
  width: 51vw;
}

.Hardware {
  /*     .title{
        width: 743px;
        height: 169px;
        left: 535px; 
    } */
}

.Hardware .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Hardware .title-box {
  width: 55vw;
  background: #232D95;
}

.Human-Practices .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.Human-Practices .title-box {
  width: 69vw;
  height: 14vh;
  background: #C4C4C4;
  top: 17%;
  left: 27%;
}

.Human-Practices .title {
  font-size: 16vh;
  left: 27%;
  top: 1%;
}

.About-us .slide {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
}

.About-us .title {
  position: absolute;
  left: 29%;
  top: -2%;
  font-size: 18vh;
}

.About-us .description {
  position: absolute;
  width: 37vw;
  left: 3%;
  top: 32%;
}

.About-us .map-img {
  position: absolute;
  width: 52vw;
  height: 61vh;
  left: 44%;
  top: 23%;
}

.freddie {
  position: absolute;
  width: 25vw;
  top: 5%;
}

.nav-btn {
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  cursor: pointer;
}

.nav-btn::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: black;
  -webkit-transform: rotate(-45deg) translate(15px, 4px);
          transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.next {
  z-index: 10;
  left: 89%;
  top: 90%;
  font-weight: 700;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  display: none;
}

.prev {
  top: 90%;
  right: 89%;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}

.navigation-circles {
  position: absolute;
  display: none;
  width: 275px;
  left: 40%;
  top: 90%;
  z-index: 100000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navigation-circles div {
  cursor: pointer;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 70px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.floating-enzyme {
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.floating-enzyme:nth-child(1) {
  left: 51%;
  -webkit-animation: raise1 17s linear infinite;
          animation: raise1 17s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(-0.3) rotate(79deg);
          transform: scale(-0.3) rotate(79deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(147deg);
            transform: scale(-0.3) rotate(147deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(147deg);
            transform: scale(-0.3) rotate(147deg);
  }
}

.floating-enzyme:nth-child(2) {
  left: -4%;
  -webkit-animation: raise2 20s linear infinite;
          animation: raise2 20s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0) rotate(104deg);
          transform: scale(0) rotate(104deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(184deg);
            transform: scale(0) rotate(184deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(184deg);
            transform: scale(0) rotate(184deg);
  }
}

.floating-enzyme:nth-child(3) {
  left: 44%;
  -webkit-animation: raise3 20s linear infinite;
          animation: raise3 20s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0.3) rotate(148deg);
          transform: scale(0.3) rotate(148deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(300deg);
            transform: scale(0.3) rotate(300deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(300deg);
            transform: scale(0.3) rotate(300deg);
  }
}

.floating-enzyme:nth-child(4) {
  left: 5%;
  -webkit-animation: raise4 13s linear infinite;
          animation: raise4 13s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.6) rotate(142deg);
          transform: scale(0.6) rotate(142deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(59deg);
            transform: scale(0.6) rotate(59deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(59deg);
            transform: scale(0.6) rotate(59deg);
  }
}

.floating-enzyme:nth-child(5) {
  left: 52%;
  -webkit-animation: raise5 19s linear infinite;
          animation: raise5 19s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.9) rotate(293deg);
          transform: scale(0.9) rotate(293deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(77deg);
            transform: scale(0.9) rotate(77deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(77deg);
            transform: scale(0.9) rotate(77deg);
  }
}

.floating-enzyme:nth-child(6) {
  left: 82%;
  -webkit-animation: raise6 8s linear infinite;
          animation: raise6 8s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.2) rotate(251deg);
          transform: scale(1.2) rotate(251deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(124deg);
            transform: scale(1.2) rotate(124deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(124deg);
            transform: scale(1.2) rotate(124deg);
  }
}

.floating-enzyme:nth-child(7) {
  left: 52%;
  -webkit-animation: raise7 9s linear infinite;
          animation: raise7 9s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(1.5) rotate(308deg);
          transform: scale(1.5) rotate(308deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(198deg);
            transform: scale(1.5) rotate(198deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(198deg);
            transform: scale(1.5) rotate(198deg);
  }
}

.floating-enzyme:nth-child(8) {
  left: 17%;
  -webkit-animation: raise8 21s linear infinite;
          animation: raise8 21s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.8) rotate(126deg);
          transform: scale(1.8) rotate(126deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(192deg);
            transform: scale(1.8) rotate(192deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(192deg);
            transform: scale(1.8) rotate(192deg);
  }
}

.floating-enzyme:nth-child(9) {
  left: 9%;
  -webkit-animation: raise9 12s linear infinite;
          animation: raise9 12s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.1) rotate(134deg);
          transform: scale(2.1) rotate(134deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(142deg);
            transform: scale(2.1) rotate(142deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(142deg);
            transform: scale(2.1) rotate(142deg);
  }
}

.floating-enzyme:nth-child(10) {
  left: 37%;
  -webkit-animation: raise10 9s linear infinite;
          animation: raise10 9s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(2.4) rotate(272deg);
          transform: scale(2.4) rotate(272deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(136deg);
            transform: scale(2.4) rotate(136deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(136deg);
            transform: scale(2.4) rotate(136deg);
  }
}

.floating-enzyme:nth-child(11) {
  left: 18%;
  -webkit-animation: raise11 12s linear infinite;
          animation: raise11 12s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.7) rotate(111deg);
          transform: scale(2.7) rotate(111deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise11 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.7) rotate(86deg);
            transform: scale(2.7) rotate(86deg);
  }
}

@keyframes raise11 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.7) rotate(86deg);
            transform: scale(2.7) rotate(86deg);
  }
}
/*# sourceMappingURL=page.css.map */